doctype html
html(lang='en')
  head
    title Stefan Niculae
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')

    meta(name='title' property='og:title' content='Stefan Niculae — Work Summary')
    meta(name='description' property='og:description' content="Short summary of Stefan's academic and professional experience. Includes links to Resume (pdf), online profiles and to some past projects.")
    meta(name='author' content='Stefan Niculae')
    meta(property='og:url' content='https://stefann.eu/')

    meta(name='image' property='og:image' content='https://stefann.eu/img/profile.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='900')
    meta(property='og:image:height' content='900')

    meta(property='og:type' content='profile')
    meta(property='profile:first_name' content='Stefan')
    meta(property='profile:last_name' content='Niculae')
    meta(property='profile:gender' content='male')

    link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
    link(rel='manifest' href='img/favicon/site.webmanifest')

    style
      include style.min.css

  body
    #main-container
      section#intro
        picture#profile
          source(srcset='img/profile.webp' type='image/webp')
          source(srcset='img/profile.jp2' type='image/jp2')
          img(src='img/profile.jpg' alt='Profile Picture')
        h1#name Stefan Niculae
        #bio
          p Hello!
          p I am a Fulbright scholar, recently finished my Master's in Intelligent Robotics, at the University of Southern California, in Los Angeles.
          p I am interested in Machine Learning; Reinforcement Learning, Natural Language Processing and Learning Representations. Also Human-Computer Interaction, Programming Language Theory and Data Visualization.
        #links
          a(href='files/Stefan Niculae - Resume.pdf' target='_blank')#resume-link Resume (PDF)
          a(href='https://linkedin.com/in/stefan-niculae' target='_blank') Linkedin
          a(href='https://github.com/stefan-niculae' target='_blank') Github
        #email contact@stefann.eu

      section#background
        #education
          h2 Education
          p.short-desc Computer Science, Math, Artificial Intelligence and Machine Learning
          details
            summary Details
            .places
              article
                p.title MSc Machine Learning and Robotics
                p.place University of Southern California, USA

              article
                p.title MSc Artificial Intelligence
                p.place University of Bucharest, Romania and
                p.place Leiden University, Netherlands

              article
                p.title BSc Computer Science and Math
                p.place University of Bucharest, Romania

        #workplaces
          h2 Workplaces
          p.short-desc 3+ years industry experience as a Data Scientist/Research Engineer
          details
            summary Details
            .places
              article
                p.title Software Engineer
                p.place Amazon, Seattle

              article
                p.title ML Research Intern
                p.place Blizzard, California

              article
                p.title Research Engineer
                p.place Bitdefender, Romania

              article
                p.title Data Science Researcher
                p.place Adobe, Romania

              article
                p.title Data Science Intern
                p.place Intel, Romania

      section#projects
        h2 Projects

        .items
          article
            h3 Intervening in co-evolution
            picture
              source(srcset='img/coev.webp' type='image/webp')
              img(src='img/coev.png')
            p In a zero-sum RL game, learning stagnates when one side overpowers the other. To resume a balanced co-evolution, we hinder the winner's decision making process and/or help the loser by providing it external guidance.
            details
              summary
              p Class project for #[i Deep Learning], at USC
              p Team: #[strong Stefan Niculae], Alejandro Marin-Parra, Daniel Paul Pena, Allen Kim, Abel John
            a(href='https://docs.google.com/presentation/d/15h6Y2-9z8D5KjHKlFErx_rsckPDSoI42xj4B3SkkwIQ' target='_blank') Slides
            a(href='/intervening-in-coevolution' target='_blank') Blog

          article
            h3 Transformer vs CNN encoders in RL
            picture
              source(srcset='img/blizz.webp' type='image/webp')
              source(srcset='img/blizz.jp2' type='image/jp2')
              img(src='img/blizz.jpg')
            p Especially in non-euclidian topologies, and settings with non-local interactions, transformer state preprocessors can perform better than Convolutional ones, due to their "global" perceptive field and permutation invariance.
            details
              summary
              p Summer project at Blizzard
              p Mentor: Wayne Yang

          article
            h3 Swearing and social media likes
            picture
              source(srcset='img/swear.webp' type='image/webp')
              source(srcset='img/swear.jp2' type='image/jp2')
              img(src='img/swear.jpg')
            p On Twitter, women swear less, but swearing while it's raining, on a Saturday can improve audience engagement. We also predict which and where a swear word would impact engagement the most; and counterfactually explore celebrity scenarios.
            details
              summary
              p Class project for #[i Data Science for Social Systems] at USC
              p Team: #[strong Stefan Niculae], Kendall Crouch, Jeffrey Stone, Santiago Carvajal, Timothy Rhodes
            a(href='files/Swearing impact on social media engagement.pdf' target='_blank') Poster

          article
            h3 Biological cues for Game Flow
            picture
              source(srcset='img/physio.webp' type='image/webp')
              source(srcset='img/physio.jp2' type='image/jp2')
              img(src='img/physio.jpg')
            p Games strive to be challenging — neither boring nor frustrating. Physiological (heart-rate, skin temperature, etc) and emotional (through facial expressions) signals can be used to adapt a game's difficulty in response to the user.
            details
              summary
              p Class project for #[i Affective Computing] at USC
              p Authors: #[strong Stefan Niculae], Shao-Yen Tseng, Dillion Knox, Qinyi Liu
            a(href='files/Physiological and Emotional Signals for Better Game Flow.pdf' target='_blank') Slides

          article
            h3 Patterns of Life tool
            picture
              source(srcset='img/pol.webp' type='image/webp')
              source(srcset='img/pol.jp2' type='image/jp2')
              img(src='img/pol.jpg')
            p Aggregate multiple sources of data to generate a filterable population density estimation to prevent civilian casualties.  Sponsored by the US Air Force and prototyped using the Lean startup methodology, focused on customer discovery.
            details
              summary
              p Class project for #[i Hacking for Defense], at USC
              p Team: #[strong Stefan Niculae], Brandon Wexler, Madhuri Jujare, Dubem Chukunwoji, Lauren Becker
            a(href='files/Patterns of Life.pdf' target='_blank') Slides

          article
            h3 Learning to hack
            picture
              source(srcset='img/cybersec.webp' type='image/webp')
              img(src='img/cybersec.jpg')
            p In a game-theoretic model of enterprise network penetration scenarios, older Genetic Algorithm methods trade speed for robustness, compared to modern Reinforcement Learning techniques.
            details
              summary
              p Master's thesis, in collaboration with Bitdefender
              p Thesis advisor: Marius Popescu (Univ. Bucharest)
              p Paper version accepted at AAMAS 2019 workshop
              p Authors: #[strong Stefan Niculae], Daniel Dichiu and Razvan Prejbeanu (Bitdefender), Kaifeng Yang and Thomas Back (Leiden Univ.)
            a(href='files/RL vs GA in GT Cybersec Presentation.pdf' target='_blank') Slides
            a(href='files/Automating Penetration Testing using Reinforcement Learning.pdf' target='_blank') Paper
            a(href='files/RL vs GA in GT Cybersec Thesis.pdf' target='_blank') Thesis


          article
            h3 Detecting abnormal user behavior
            picture
              source(srcset='img/bitdefender.webp' type='image/webp')
              source(srcset='img/bitdefender.jp2' type='image/jp2')
              img(src='img/bitdefender.jpg')
            p Behavior anomalies, indicative of a compromised endpoint, are detected by processing raw system events using stages of clustering, and other unsupervized learning techniques, sensitive to the time-based sequentiality of the events.
            details
              summary
              p Developed while at Bitdefender
              p US Patent Pending
              p Authors: Daniel Dichiu, #[strong Stefan Niculae], Elena Bosinceanu, Sorina Stoian, Andreea Dincu, Andrei Apostoae
            a(href='http://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2FPTO%2Fsearch-adv.html&r=1&f=G&l=50&d=PG01&p=1&S1=APOSTOAE.IN.&OS=in/APOSTOAE&RS=IN/APOSTOAE' target='_blank') Patent

          article
            h3 Finding features that drive retention
            picture
              source(srcset='img/retention.webp' type='image/webp')
              source(srcset='img/retention.jp2' type='image/jp2')
              img(src='img/retention.jpg')
            p Select which features of a software product make keep users coming back using an array of statistical and learning methods, and a meta-classifier aggregating multiple heterogenous models.
            details
              summary
              p Bachelor's thesis, in collaboration with Adobe
              p Thesis advisor: Traian Serbanuta (Univ. Bucharest)
              p Technical lead: Paul Chirita (Adobe)
            a(href='files/Finding features that drive retention.pdf' target='_blank') Thesis


          article
            h3 E-commerce recommender engine
            picture
              source(srcset='img/adobe.webp' type='image/webp')
              img(src='img/adobe.png')
            p Product recommender for platforms having up to tens of thousands of products and customers, with up to daily updates of purchase behavior. Collaborative Filtering, SVD and online updates.
            details
              summary
              p Work done while at Adobe


        h2 Teaching

        .items
          article
            h3 Data Visualization workshop
            picture
              source(srcset='img/viz.webp' type='image/webp')
              source(srcset='img/viz.jp2' type='image/jp2')
              img(src='img/viz.jpg')
            p Python basics and the Jupyter environment; data wrangling using Numpy and Pandas; Data Visualization principles, best practices and case studies, illustrated using Matplotlib and Seaborn.
            details
              summary
              p Presented to a cohort of 30 faculty and students at USC
            a(href='/viz-workshop' target='_blank') Notebooks
            a(href='files/Data Viz Workshops.pdf' target='_blank') Flyer

          article
            h3 Formal methods lab
            picture
              source(srcset='img/lfa.webp' type='image/webp')
              source(srcset='img/lfa.jp2' type='image/jp2')
              img(src='img/lfa.jpg')
            p Various types of Finite Automata and exercises involving them and Formal Languages. Diagrams and step-by-step solutions to help students understand both the intuition and the implementation details, in C++.
            details
              summary
              p Taught two classes of 30 first-year CS students, at U. Bucharest
              p Professor: Adrian Paun
            a(href='/formal-labs' target='_blank') Website


          article
            h3 Functional programming lab
            picture
              source(srcset='img/haskell.webp' type='image/webp')
              source(srcset='img/haskell.jp2' type='image/jp2')
              img(src='img/haskell.jpg')
            p Explanations and exercises for Declarative Programming concepts, taught in Haskell. Supplemental lab materials, for the students to reference during class or at home.
            details
              summary
              p Taught a class of 25 terminal-year CS students, at U. Bucharest
              p Professor: Traian Serbanuta
            a(href='/haskell-labs' target='_blank') Website


        h2 Smaller/older projects

        .items
          article
            h3 Interactive neighborhood exploration
            picture
              source(srcset='img/segmentation.webp' type='image/webp')
              source(srcset='img/segmentation.jp2' type='image/jp2')
              img(src='img/segmentation.jpg')
            p How does the amount of greenery, or liquor ads compare across neighborhoods? We compute these aspects and many more based on StreetView pictures, and explore them in an interactive story.
            details
              summary
              p Created for the VKC Library of USC
            a(href='/visual-mapping' target='_blank') Visual story


          article
            h3 Self-driving model car
            picture
              source(srcset='img/car.webp' type='image/webp')
              source(srcset='img/car.jp2' type='image/jp2')
              img(src='img/car.jpg')
            p What happens when you end up with an extra part when you're "done"? You redo weeks of assembling and hope it doesn't happen again. What do you do when you end up with a different extra part afterwards? Just hope it wasn't essential.
            details
              summary
              p For the #[i Race-on] competition, at USC
              p Team: #[strong Stefan Niculae], Alejandro Marin-Parra, Philipp Schauer, Adeem Abass


          article
            h3 Combining DQN extensions
            picture
              source(srcset='img/rainbow.webp' type='image/webp')
              source(srcset='img/rainbow.jp2' type='image/jp2')
              img(src='img/rainbow.jpg')
            p Putting together modern DQN techniques that target various aspects of the RL process. Benchmarked on a 2D environment from OpenAI's Gym.
            details
              summary
              p Class project for #[i Reinforcement Learning], at Leiden University
            a(href='files/Combining DQN extensions.pdf' target='_blank') Report


          article
            h3 Evolving a network to flap
            picture
              source(srcset='img/flap.webp' type='image/webp')
              img(src='img/flap.jpg')
            p Browser implementation of a flappy-bird-like game, neural network and Genetic Algorithm optimizer that uses selection, mutation and crossover to breed the fittest (reaching highest score) genomes.
            details
              summary
              p Class project for #[i Soft Computing], at U. Bucharest
            a(href='/flappy-learn' target='_blank') Demo
            a(href='#' target='_blank') Slides


          article
            h3 IoT performance dashboard
            picture
              source(srcset='img/intel.webp' type='image/webp')
              source(srcset='img/intel.jp2' type='image/jp2')
              img(src='img/intel.jpg')
            p Visualize various performance metrics for Internet of Things devices and spike-detection algorithm to prevent running in a hazardous state.
            details
              summary
              p Summer project at Intel
              p Team leads: Cristian Levcovici, Mircea Bardac


          article
            h3 Image completion
            picture
              source(srcset='img/inpaint.webp' type='image/webp')
              source(srcset='img/inpaint.jp2' type='image/jp2')
              img(src='img/inpaint.jpg')
            p Pure signal processing (no learning) method for inpainting — filling missing areas of an image through texture synthesis. Used for object removal, photo restoration, picture expansion.
            details
              summary
              p Class project for #[i Digital Signal Processing], at U. Bucharest
            a(href='files/Image completion.pdf' target='_blank') Slides


          article
            h3 Abstract Machine
            picture
              source(srcset='img/execution.webp' type='image/webp')
              img(src='img/execution.png')
            p Syntactic parser for a custom grammar, with inspectable Abstract Syntax Tree, and evaluator for custom semantics offering step-by-step evaluation, for the program given as input.
            details
              summary
              p Class project for #[i Programming Languages Semantics], at U. Bucharest
            a(href='/abstract-machine' target='_blank') Demo


          article
            h3 Parallel training for Neural Networks
            picture
              source(srcset='img/mnist.webp' type='image/webp')
              img(src='img/mnist.jpg')
            p C++ implementation of feedforward network and optimizer, with MPI parallelism on CPU. Demo on handwritten digit classification, with an interactive front-end for drawing the digit yourself.
            details
              summary
              p Class project for #[i Parallel Computing], at U. Bucharest
              p Team: #[strong Stefan Niculae], Ionut Ciocoiu


          article
            h3 Steganography demo
            picture
              source(srcset='img/stegano.webp' type='image/webp')
              source(srcset='img/stegano.jp2' type='image/jp2')
              img(src='img/stegano.jpg')
            p An area of cryptography, stegano, deals with hiding information in plain sight: from tattooing a secret on a messenger's scalp and letting the hair grow, to the kerning of letters, or encoding an image into the least significant bits of another.
            details
              summary
              p Class project for #[i Applied Cryptography], at U. Bucharest
              p Authors: #[strong Stefan Niculae], Alexandra Voda
            a(href='files/Steganography.pdf' target='_blank') Slides


          article
            h3 Information Retrieval explainer
            picture
              source(srcset='img/retrieval.webp' type='image/webp')
              source(srcset='img/retrieval.jp2' type='image/jp2')
              img(src='img/retrieval.jpg')
            p Textual search engine that highlighting why certain documents and terms were selected, featuring stemming, stop-word removal and accented letters conversion.
            details
              summary
              p Class project for #[i Information Retrieval], at U. Bucharest


          article
            h3 Multiplayer tank game
            picture
              source(srcset='img/tanks.webp' type='image/webp')
              source(srcset='img/tanks.jp2' type='image/jp2')
              img(src='img/tanks.jpg')
            p "Fire Tracks!" is an online game in which you face off against three other tanks and chase, shoot each-other and make use of your special abilities in a bright, cartoony mayhem.
            details
              summary
              p Class project for #[i Software Development Methodologies], at U. Bucharest
              p Team: #[strong Stefan Niculae], Adrian Brojbeanu, Hung Trinh Xuan
            a(href='files/Tanks.pdf' target='_blank') Slides


          article
            h3 Adventures of the modern man
            picture
              source(srcset='img/man.webp' type='image/webp')
              source(srcset='img/man.jp2' type='image/jp2')
              img(src='img/man.jpg')
            p Survive as long as you can by juggling your attention between working out (hitting the green spot), making money (move wallet left-right), hit the balls (move foot up-down) and maintaining the correct speed (press pedal).
            details
              summary
              p First place Microsoft hackathon winner (2015)
              p Team: #[strong Stefan Niculae], Hung Trinh Xuan


          article
            h3 Smart Vim tutor
            picture
              source(srcset='img/vim.webp' type='image/webp')
              source(srcset='img/vim.jp2' type='image/jp2')
              img(src='img/vim.jpg')
            p Popularize the notorious Vim text editor. Tutorials gradually introduce and allow the practice of concepts, gamification aids motivation and smart hints subtly show how you could have done actions more efficiently.
            details
              summary
              p Class project for #[i Software Engineering], at U. Bucharest
              p Team: #[strong Stefan Niculae], Catalin Matei, Razvan Balint, Ionut Popa, Crosman Vlad
            a(href='files/Vim tutor.pdf' target='_blank') Slides

      footer Thank you for visiting! I'd be happy to discuss about anything that caught your interest.
