doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Stefan Niculae - Resume
    meta(name='description' content='My one-page resume')

    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(rel='stylesheet', href='style.css')

body
  #paper

    header#name Stefan Niculae
    img#face(src='img/face-bw.png', alt='My Picture')
    // TODO: js to update period

    section#contact
      span#email stefan1niculae@gmail.com
      span#phone 0040 722 740 469
      span#location Bucharest, RO
      // <span class="linkedin"><a href="https://www.linkedin.com/in/stefan1niculae">stefan1niculae</a></span>
      // <span class="github"><a href="https://www.github.com/stefan1niculae">stefan1niculae</a></span>
    hr#top-separator


    section#work
      header Experience
      .content

        #adobe.entry
          .interval
            span.from March 2016
            span.to Present
            span.length 11 months
          span.role Data Science Intern
          span.place Adobe
          span.description Worked on determining retention-impactful product features. Implemented a predictor for user's next action in Adobe XD. Developed a product recommender system for Adobe BC.

        #intel.entry
          .interval
            span.from June 2015
            span.to Sept 2015
            span.length 4 months
          span.role Performance Optimization Intern
          span.place Intel
          span.description Developed a tool which processes IoT performance metrics and provides statistical insight in a visual way. Worked on a robust spike-detection algorithm.

        #clu.entry
          .interval
            span.from July 2014
            span.to April 2015
            span.length 9 months
          span.role Game Developer
          span.place Clu Games
          span.description Created catchy small-to-medium mobile games in Unity: #[a(href='https://play.google.com/store/apps/details?id=com.jmg.pet' title='Installable game') Android example], #[a(href='https://itunes.apple.com/sg/app/nutcracker-finger-dash/id906391464' title='Installable game') iOS example]
        hr


    section#education
      header Education
      .content

        #masters.entry
          .interval
            span.from 2016
            span.to.expected 2018
          span.role Master's in Artificial Intelligence
          span.place University of Bucharest
          span.description Teaching Assistant for #[a(href='https://stefan1niculae.github.io/haskell-labs' title='Lab site') Declarative Programming] and #[a(href='https://stefan1niculae.github.io/formal-labs' title='Lab site') Formal Languages & Automata] classes.

        #bachelors.entry
          .interval
            span.from 2013
            span.to 2016
          span.role Bachelor of Computer Science
          span.place University of Bucharest
          span.description  Graduated with second highest grade, 9.8/10. Finished three-year Psychopedagogy module. Volunteered at the Student's Association, finance dept. #[a(href='https://github.com/stefan1niculae/school-projects' title='Screenshots & sources') Interesting projects]

        #trainings.entry
          span.role Trainings
          span.description Introductory for: user experience, public speaking, time management, leadership.
        hr


    section#skills
      header Skills
      .content

        .category
          span.name Data Science
          ul
            li Python
            li Machine Learning
            li Statistics

        .category
          span.name Web
          ul
            li Django, Flask
            li React
            li SQL

        .category
          span.name Other
          ul
            li C#
            li Haskell
            li Swift
        hr


    section#projects
      header Personal Projects
      .content

        #holocron.entry
          span.name
            a(href='https://holocron-ai.herokuapp.com') Holocron
          span.description.wip interactive visualization of learning and evaluating ML models.

        #easyvim.entry
          span.name
            a(href='https://github.com/stefan1niculae/easyVim' title='Screenshots & source') Easy Vim
          span.description learning platform for Vim. Intelligent suggestions and gamification.

        #senile.entry
          span.name
            a(href='https://github.com/stefan1niculae/senile-de-foc' title='Screenshots & source') Senile de Foc
          span.description  online multiplayer 2D tank game. Multiple play-styles and rich visual effects.

        #gsa.entry
          span.name Google Student Ambassador
          span.description Android meetings for learning and discussing projects.


    section#hobbies
      header Hobbies
      .content
        .hobby
          div
            img(src='img/neovim.svg', alt='Neovim')
          span.name Vim

        .hobby
          div
            img(src='img/burger.svg', alt='Burger')
          span.name Cook

        .hobby
          div
            img(src='img/dumbbell.svg', alt='Dumbbell')
          span.name Gym

        .hobby
          div
            img(src='img/book.svg', alt='Book')
          span.name Sci-Fi

        .hobby
          div
            img(src='img/paddle.svg', alt='Paddle')
          span.name Ping-Pong

        .hobby
          div
            img(src='img/cross.svg', alt='Cross')
          span.name Volunteer


    #paper-footer
      p Visit #[a(href='https://stefan1niculae.github.io' title='Online version of resume') stefan1niculae.github.io] to view the online version and access links to sources & screenshots.

  footer
    p Download #[a(href='Stefan Niculae - Resume.pdf' title='1-page, printer-ready' download='Stefan Niculae - Resume.pdf' target='_blank') pdf] or view #[a(href='https://github.com/stefan1niculae/stefan1niculae.github.io') source].


  script#google-analytics (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q || []).push(arguments)}, i[r].l=1 * new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-90665479-1', 'auto');ga('send', 'pageview');
