doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stefan Niculae
    meta(name='description' content='Personal (academic) webpage of Stefan Niculae')
    link(rel='stylesheet' href='style.css')

  body
    #main-container

      section#bio
        .small-screen-only
          h1 Stefan Niculae

        .large-screen-only
          #bio-inner-container
            #left
              img#profile(src='img/profile.jpg' alt='Profile Picture')
              #links
                a(href='https://linkedin.com/in/stefan-niculae') LinkedIn
                a(href='https://github.com/stefan-niculae') GitHub
                a(href='#') Resume
              p#email contact@stefann.eu
            #right
              h1 Stefan Niculae
              p Hello!
              p I am a Fulbright scholar, currently in my second year of Master's in Intelligent Robotics, at the University of Southern California, in Los Angeles.
              p My interests are Information Representation and Reinforcement Learning. Also Data Visualization, Human-Computer Interaction and Programming Languages.

      section#projects
        h2 Projects

        #items
          article
            h3 Data Visualization workshop
            .placeholder-pic
            p.description Python basics and the Jupyter environment; data wrangling using Numpy and Pandas; Data Visualization principles, best practices and case studies, illustrated using Matplotlib and Seaborn.
            details
              summary More info
              #more-info-content
                p Authors
                p Time
                p Institution
                p Links

          article
            h3 Data Visualization workshop
            .placeholder-pic
            p.description Python basics and the Jupyter environment; data wrangling using Numpy and Pandas; Data Visualization principles, best practices and case studies, illustrated using Matplotlib and Seaborn.

          article
            h3 Data Visualization workshop
            .placeholder-pic
            p.description Python basics and the Jupyter environment; data wrangling using Numpy and Pandas; Data Visualization principles, best practices and case studies, illustrated using Matplotlib and Seaborn.

          article
            h3 Data Visualization workshop
            .placeholder-pic
            p.description Python basics and the Jupyter environment; data wrangling using Numpy and Pandas; Data Visualization principles, best practices and case studies, illustrated using Matplotlib and Seaborn.
