@charset "utf-8"

// Colors
$black:         #333333
$lighter-black: #555555
$light-gray: #5f5f5f
$lighter-gray: #9b9b9b
$lightest-gray: #f5f5f5

// Sizes
$A4-width:  210px
$A4-height: 297px
$paper-scale: 3.5
$paper-left-padding: 30px
$paper-right-padding: 50px
$paper-width: $A4-width  * $paper-scale - ($paper-left-padding + $paper-right-padding)
$paper-height: $A4-height * $paper-scale
$left-col-width: 120px




// Paper layout
body
  font-family: "Source Sans Pro", "Open Sans", sans-serif
  font-size: 14px


#paper
  width:  $paper-width
  //height: $paper-height // development: uncomment this
  padding-bottom: 25px // development: comment this

  margin-left: auto
  margin-right: auto
  padding-top: 20px
  padding-left: $paper-left-padding
  padding-right: $paper-right-padding

  @media not print
    margin-top: 25px
    box-shadow: 0 0 30px #ebebeb
    border-radius: 3px




// Top part
#name, section header
  font-variant: small-caps
  font-weight: normal
  letter-spacing: 1px

#name
  font-size: 3em
  margin-top: 10px

#name, #contact
  display: inline-block

#contact
  display: block
  color: $lighter-black
  div
    margin-bottom: 2px
  span:not(:last-child)::after
    content: ' · '
    margin-left: 2px
    margin-right: 1px

#face
  float: right
  margin-right: 10px
  height: 100px

  border-radius: 50%
  background-color: $lightest-gray





// Spacing
hr
  border: none
  border-top: 1px solid #eeeeee
  &#top-separator
    margin: 28px 10px

a
  color: inherit






// Main content
section
  // Spacing
  header
    font-size: 1.2em
    float: left
    width: $left-col-width
  .content
    margin-left: $left-col-width
  .content hr
    margin: 20px 5px

  &#work .entry,
  &#education .entry
    margin: 5px 0


  // Color
  &#skills li,
  .description,
  .interval
    color: $lighter-black

  .inline-place,
  .place,
  .interval .length,
  .interval .to.expected::after
    color: $light-gray


  // Work & Education
  .entry .info
    display: inline-block
    width: 470px

  .entry .interval
    text-transform: lowercase
    font-size: .9em
    color: #686868
    span
      display: block
    border-left: 1px solid #ebebeb
    display: inline-block
    margin-top: 8px
    padding-left: 7px
    vertical-align: top
    //span.from::after
      content: ' -'

  .role
    font-size: 1.15em

  &#work .place  // company
    letter-spacing: 1px // "Adobe" and "Intel" are short names
    text-transform: uppercase
  .inline-place,
  &#work .place,
  &#education .place // school
    font-variant: small-caps

  &#work .place,
  &#education .place // school
    &::before
      content: ' · '
      margin-left: 2px
      margin-right: 2px

  //.interval
    float: right
    .from::after
      content: ' — '
    //.to.expected::after
      content: ' (expected)' // show expected mention?
    .length
      display: none // show nr months duration?
      &::before
        content: ' ('
      &::after
        content: ')'
      font-size: .9em

  &#work .description,
  &#education .description
    ul
      margin-top: 0
      padding-left: 5px
      list-style: none
      li:before
        content: '›'
        font-size: 1.25em
        margin-right: .3em

  #trainings
    .inline-place
      width: 70px
      display: inline-block

  // Skills & Hobbies: layout
  &#skills, #hobby
    display: table

  &#skills .category,
  &#hobbies .hobby
    display: table-cell

  &#skills
    .category
      width: ($paper-width - $left-col-width) * .32 // HACK
      display: inline-block
      .name
        font-size: 1.1em
    ul
      list-style-type: none
      padding-left: 0
      margin-top: 5px
      margin-bottom: 0

  //&#projects
    .name
      font-size: 1.15em

    .description::before
      content: ' — '

    .wip::after
      content: ' (wip)'
      color: $light-gray

    .entry
      margin: 5px 0



  &#hobbies
    //margin-top: 50px  // instead of <hr>
    header
      padding-top: 7px  // "center" Hobbies text with icons and text in content

    .content
      display: flex
      justify-content: space-between
      padding-left: 10px
      padding-right: 10px
    .hobby
      text-align: center
      img
        height: 20px
        opacity: .35


// Footers
#paper-footer,
footer
  text-align: center
  color: $lighter-gray

#paper-footer
  margin-top: 20px
  @media not print  // development: comment this
    display: none

footer
  font-size: 1.1em
  padding-top: .7em
  padding-bottom: 1em
  @media print
    display: none
