@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 14px; }

#paper {
  width: 655px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50px; }
  @media not print {
    #paper {
      margin-top: 25px;
      box-shadow: 0 0 30px #ebebeb;
      border-radius: 3px; } }

#name, section header {
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px; }

#name {
  font-size: 3em;
  margin-top: 10px; }

#name, #contact {
  display: inline-block; }

#contact {
  display: block;
  color: #555555; }
  #contact div {
    margin-bottom: 2px; }
    #contact div:first-child span:not(:last-child)::after {
      content: " · ";
      margin-left: 7px;
      margin-right: 6px; }
  #contact span:not(:first-child) img {
    margin-left: 17px; }
  #contact img {
    margin-right: 7px;
    vertical-align: -10%;
    height: 1em;
    opacity: 0.65; }

#face {
  float: right;
  margin-right: 10px;
  height: 100px;
  border-radius: 50%;
  background-color: #f5f5f5; }

hr {
  border: none;
  border-top: 1px solid #eeeeee; }
  hr#top-separator {
    margin: 28px 10px; }

a {
  color: inherit; }

section header {
  font-size: 1.2em;
  float: left;
  width: 120px; }
section .content {
  margin-left: 120px; }
section .content hr {
  margin: 20px 5px; }
section#work .entry, section#education .entry {
  margin: 5px 0; }
section#skills li,
section .description,
section .interval {
  color: #555555; }
section .inline-place,
section .place,
section .interval .length,
section .interval .to.expected::after {
  color: #5f5f5f; }
section .entry .info {
  display: inline-block;
  width: 470px; }
section .entry .interval {
  text-transform: lowercase;
  font-size: 0.9em;
  color: #686868;
  border-left: 1px solid #ebebeb;
  display: inline-block;
  margin-top: 8px;
  padding-left: 7px;
  vertical-align: top; }
  section .entry .interval span {
    display: block; }
section .role {
  font-size: 1.15em; }
section#work .place {
  letter-spacing: 1px;
  text-transform: uppercase; }
section .inline-place, section#work .place, section#education .place {
  font-variant: small-caps; }
section#work .place::before, section#education .place::before {
  content: " · ";
  margin-left: 2px;
  margin-right: 2px; }
section#work .description ul, section#education .description ul {
  margin-top: 0;
  padding-left: 5px;
  list-style: none; }
  section#work .description ul li:before, section#education .description ul li:before {
    content: "›";
    font-size: 1.25em;
    margin-right: 0.3em; }
section #trainings .inline-place {
  width: 70px;
  display: inline-block; }
section#skills, section #hobby {
  display: table; }
section#skills .category, section#hobbies .hobby {
  display: table-cell; }
section#skills .category {
  width: 171.2px;
  display: inline-block; }
  section#skills .category .name {
    font-size: 1.1em; }
section#skills ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 0; }
section#hobbies header {
  padding-top: 7px; }
section#hobbies .content {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px; }
section#hobbies .hobby {
  text-align: center; }
  section#hobbies .hobby img {
    height: 20px;
    opacity: 0.35; }

#paper-footer,
footer {
  text-align: center;
  color: #9b9b9b; }

#paper-footer {
  margin-top: 20px; }
  @media not print {
    #paper-footer {
      display: none; } }

footer {
  font-size: 1.1em;
  padding-top: 0.7em;
  padding-bottom: 1em; }
  @media print {
    footer {
      display: none; } }

/*# sourceMappingURL=style.css.map */
