@font-face
  font-family: Lato-Semibold
  font-style: normal
  font-weight: 500
  src: local('Lato-Semibold'), url("fonts/Lato-Semibold.woff2") format('woff2')
  unicode-range: U+000-5FF // latin glyphs only
@font-face
  font-family: SourceSansPro-Regular
  font-style: normal
  font-weight: normal
  src: local('SourceSansPro-Regular'), local('SourceSansPro'), url("fonts/SourceSansPro-Regular.woff2") format('woff2')
  unicode-range: U+000-5FF // latin glyphs only

*
  margin: 0
  padding: 0

/* Colors */
$off-white: #fcfcfc
$lighter-grey: #f1f1f1
$light-grey: #ebebeb
$grey: #909090
$off-black: #222


body
  background-color: $off-white
  color: $off-black
  margin-left: 10px
  margin-right: 10px

h1, h2
  font-family: Lato-Semibold, sans-serif
  //font-weight: 500   // TODO fix for safari

h3, p, summary, a, #email, footer
  font-family: SourceSansPro-Regular, sans-serif
  font-weight: normal

h2
  padding-top: 70px
  margin-bottom: 1rem

// Clickable elements
a, #email, summary, footer
  color: $grey


#main-container
  max-width: 1000px
  margin: auto

#intro
  #bio p
    margin-bottom: .5em

img
  border: 1px solid $light-grey

/* Intro layout */
@media (min-width: 680px)  // bigger screen
  $profile-pic-size: 260px  // it's square
  $name-height: 60px
  $contact-line-height: 20px

  h1
    font-size: 40px


  #intro
    display: grid
    grid-template-columns: $profile-pic-size 1fr
    grid-template-rows: $name-height ($profile-pic-size - $name-height - $contact-line-height) $contact-line-height
    grid-column-gap: 3%

    margin-top: 75px

    img
      grid-column: 1
      grid-row: 1/4
      height: 95%
      align-self: end

    #name
      grid-column: 2
      grid-row: 1

    #bio
      grid-column: 2
      grid-row: 2
      max-width: 575px
      vertical-align: top

    #contact
      grid-column: 2
      grid-row: 3
      br
        display: none
      a:not(:last-child)
        margin-right: 20px


@media (max-width: 681px)  // smaller screen
  $name-height: 40px
  $profile-pic-size: 25vw  // it's square
  $contact-height: 50px

  h1
    font-size: 8.5vw

  #intro
    display: grid
    grid-template-columns: $profile-pic-size 1fr
    grid-template-rows: $name-height calc(#{$profile-pic-size} - #{$name-height}) 1fr
    grid-column-gap: 20px

    margin-top: 35px

    img
      grid-column: 1
      grid-row: 1/3
      height: 95%
      align-self: end

    #name
      grid-column: 2
      grid-row: 1/2

    #contact
      grid-column: 2
      grid-row: 2/3
      align-self: end

      a:not(:last-child)
        margin-right: 10px

    #bio
      grid-column: 1/3
      grid-row: 3/4
      padding-top: 1.5rem


$one-col-width: 550px
$three-col-width: 960px
$grid-column-gap: 3%

/* Background */
#background
  display: grid
  grid-column-gap: $grid-column-gap

  @media (max-width: $one-col-width)
    grid-template-columns: repeat(1, 1fr)
    h2
      padding-top: 2rem
  @media (min-width: $one-col-width + 1) and (max-width: $three-col-width)
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: $three-col-width + 1px)
    grid-template-columns: repeat(3, 1fr)

  @media (min-width: $one-col-width + 1)
    .short-desc
      min-height: 3rem
    h2
      margin-top: 2rem

  .places
    margin-top: 10px
    padding: 5px

    article:not(:first-child)
      margin-top: 1.5rem
    .place
      color: $grey


/* Projects */
#projects


  .items
    display: grid
    @media (max-width: $one-col-width)
      grid-template-columns: repeat(1, 1fr)
    @media (min-width: $one-col-width + 1) and (max-width: $three-col-width)
      grid-template-columns: repeat(2, 1fr)
    @media (min-width: $three-col-width + 1px)
      grid-template-columns: repeat(3, 1fr)

    grid-column-gap: $grid-column-gap
    grid-row-gap: 5rem

    article > p
      // Try to align "more info" on the same row, but only when there's multiple columns
      @media (min-width: $one-col-width + 1)
        min-height: 7rem  // lines of text

    article
      h3
        font-size: 18px
        margin-bottom: 7px

      img
        width: 100%
        margin-bottom: 5px


      details
        background-color: $lighter-grey
        margin: 7px 3px 18px 1px

        summary
          background-color: $off-white
        summary::after
            content: "More info"

        :not(:first-child)
          padding: 5px 10px

      a
        color: $grey
        border: 1px solid $grey
        border-radius: 4px
        padding: 4px 8px
        text-decoration: none
        margin-right: 10px

      a:hover
        color: black
        border-color: black


footer
  width: 100%
  text-align: center
  margin: 150px auto 60px
  padding-top: 1rem
  border-top: 1px solid $light-grey