// Colors
$black:         #333333
$lighter-black: #555555
$light-gray: #5f5f5f
$lighter-gray: #9b9b9b
$lightest-gray: #f5f5f5

// Sizes
$A4-width:  210px
$A4-height: 297px
$paper-scale: 3.5
$paper-left-padding: 25px
$paper-right-padding: 35px
$paper-width: $A4-width  * $paper-scale - ($paper-left-padding + $paper-right-padding)
$paper-height: $A4-height * $paper-scale
$left-col-width: 150px




// Paper layout
body
  font-family: "Source Sans Pro", "Open Sans", sans-serif
  font-size: 13px


#paper
  width:  $paper-width
  //height: $paper-height // development: uncomment this
  padding-bottom: 25px // development: comment this

  margin-left: auto
  margin-right: auto
  padding-top: 20px
  padding-left: $paper-left-padding
  padding-right: $paper-right-padding

  @media not print
    margin-top: 25px
    box-shadow: 0 0 30px #ebebeb
    border-radius: 3px




// Top part
#name, section header
  font-variant: small-caps
  font-weight: normal
  letter-spacing: 1px

#name
  font-size: 3em
  margin-top: 20px

#name, #contact
  display: inline-block

#contact
  color: $lighter-black
  span:not(:last-child)::after
    content: ' · '
    margin-left: 2px
    margin-right: 1px
  #email
    font-size: 1.05em // lowercase letters are small

#face
  float: right
  margin-right: 10px
  height: 100px

  border-radius: 50%
  background-color: $lightest-gray





// Spacing
hr
  border: none
  border-top: 1px solid #eeeeee
  &#top-separator
    margin: 45px 10px

a
  color: $black
  //color: #032140 // TODO






// Main content
section
  // Spacing
  header
    font-size: 1.5em
    float: left
    width: $left-col-width
  .content
    margin-left: $left-col-width
  .content hr
    margin: 25px 5px

  &#work .entry,
  &#education .entry
    margin: 25px 0


  // Color
  &#skills li,
  .description,
  .interval
    color: $lighter-black

  .place,
  .interval .length,
  .interval .to.expected::after
    color: $light-gray


  // Work & Education: top part
  .role
    font-size: 1.3em
    margin-bottom: 10px

  .place
    text-align: center
    &::before
      content: ' | '
      margin-left: 2px
      margin-right: 2px
  &#work .place  // company
    letter-spacing: 1px // "Adobe" and "Intel" are short names
    text-transform: uppercase
  &#education .place // school
    font-variant: small-caps

  .interval
    float: right
    .from::after
      content: ' —'
    .length
      &::before
        content: ' ('
      &::after
        content: ')'
    .to.expected::after
      //content: ' (expected)' // show expected mention?
    .length
      display: none // show nr months duration?
      font-size: .9em

  &#work .description,
  &#education .description
    display: block

  // Skills & Hobbies: layout
  &#skills, #hobby
    display: table

  &#skills .category,
  &#hobbies .hobby
    display: table-cell

  &#skills
    .category
      width: ($paper-width - $left-col-width) * .32 // HACK
      display: inline-block
      .name
        font-size: 1.3em
    ul
      list-style-type: none
      padding-left: 0
      margin-top: 5px
      margin-bottom: 0

  &#projects
    .name
      font-size: 1.15em

    .description::before
      content: ' — '

    .wip::after
      content: ' (wip)'
      color: $light-gray

    .entry
      margin: 5px 0



  &#hobbies
    margin-top: 50px  // instead of <hr>
    header
      padding-top: 7px  // "center" Hobbies text with icons and text in content

    .content
      display: flex
      justify-content: space-between
      padding-left: 10px
      padding-right: 10px
    .hobby
      text-align: center
      img
        height: 20px
        opacity: .35


// Footers
#paper-footer,
footer
  text-align: center
  color: $lighter-gray

#paper-footer
  margin-top: 15px
  font-size: .85em
  @media not print
    display: none

footer
  font-size: 1.1em
  @media print
    display: none
