@font-face {
  font-family: Lato-Semibold;
  font-style: normal;
  font-weight: 500;
  src: local("Lato-Semibold"), url("fonts/Lato-Semibold.woff2") format("woff2");
  unicode-range: U+000-5FF;
  font-display: swap;
}
@font-face {
  font-family: SourceSansPro-Regular;
  font-style: normal;
  font-weight: normal;
  src: local("SourceSansPro-Regular"), local("SourceSansPro"), url("fonts/SourceSansPro-Regular.woff2") format("woff2");
  unicode-range: U+000-5FF;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

/* Colors */
body {
  background-color: #fcfcfc;
  color: #222;
  margin-left: 10px;
  margin-right: 10px;
}

h1, h2 {
  font-family: Lato-Semibold, sans-serif;
}

h3, p, summary, a, #email, footer {
  font-family: SourceSansPro-Regular, sans-serif;
  font-weight: normal;
}

h2 {
  padding-top: 70px;
  margin-bottom: 1rem;
}

a, #email, summary, footer {
  color: #787878;
}

#main-container {
  max-width: 1000px;
  margin: auto;
}

#intro #bio p {
  margin-bottom: 0.5em;
}
#intro #profile img {
  margin-top: -10px;
}

picture img {
  border: 1px solid #ebebeb;
  width: 100%;
  object-fit: cover;
}

/* Intro layout */
@media (min-width: 810px) {
  h1 {
    font-size: 40px;
  }

  #intro {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 60px 155px 25px 20px;
    grid-column-gap: 3%;
    margin-top: 75px;
  }
  #intro picture {
    grid-column: 1;
    grid-row: 1/4;
    height: 95%;
    align-self: end;
  }
  #intro #name {
    grid-column: 2;
    grid-row: 1;
  }
  #intro #bio {
    grid-column: 2;
    grid-row: 2;
    max-width: 575px;
    vertical-align: top;
  }
  #intro #links {
    grid-column: 2;
    grid-row: 3;
  }
  #intro #links a:not(:last-child) {
    margin-right: 20px;
  }
  #intro #email {
    grid-column: 2;
    grid-row: 4;
  }
}
@media (max-width: 810px) {
  h1 {
    font-size: 7vw;
  }

  #intro {
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 40px calc(30vw - 40px - 20px) 20px 1fr;
    grid-column-gap: 20px;
    margin-top: 35px;
  }
  #intro picture {
    grid-column: 1;
    grid-row: 1/4;
    height: 95%;
    align-self: end;
  }
  #intro #name {
    grid-column: 2;
    grid-row: 1;
  }
  #intro #links {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    padding-bottom: 5px;
  }
  #intro #links a:not(:last-child) {
    margin-right: 10px;
  }
  #intro #email {
    grid-column: 2;
    grid-row: 3;
  }
  #intro #bio {
    grid-column: 1/3;
    grid-row: 4;
    padding-top: 1.5rem;
  }
}
/* Background */
#background {
  display: grid;
  grid-column-gap: 3%;
}
@media (max-width: 550px) {
  #background {
    grid-template-columns: repeat(1, 1fr);
  }
  #background h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 551px) and (max-width: 960px) {
  #background {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 961px) {
  #background {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 551px) {
  #background .short-desc {
    min-height: 3rem;
  }
  #background h2 {
    margin-top: 2rem;
  }
}
#background .places {
  margin-top: 10px;
  padding: 5px;
}
#background .places article:not(:first-child) {
  margin-top: 1.5rem;
}
#background .places .place {
  color: #787878;
}

/* Projects */
#projects .items {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 5rem;
}
@media (max-width: 550px) {
  #projects .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 551px) and (max-width: 960px) {
  #projects .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 961px) {
  #projects .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 551px) {
  #projects .items article > p {
    min-height: 7rem;
  }
}
#projects .items article h3 {
  font-size: 18px;
  margin-bottom: 7px;
}
#projects .items article picture {
  width: 100%;
  margin-bottom: 5px;
}
#projects .items article details {
  background-color: #f1f1f1;
  margin: 7px 3px 18px 1px;
}
#projects .items article details summary {
  background-color: #fcfcfc;
}
#projects .items article details summary::after {
  content: "More info";
}
#projects .items article details :not(:first-child) {
  padding: 5px 10px;
}
#projects .items article a {
  color: #787878;
  border: 1px solid #787878;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
  margin-right: 10px;
}
#projects .items article a:hover {
  color: black;
  border-color: black;
}

footer {
  width: 100%;
  text-align: center;
  margin: 150px auto 60px;
  padding-top: 1rem;
  border-top: 1px solid #ebebeb;
}

/*# sourceMappingURL=style.css.map */
