@charset "UTF-8";
body {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 13px; }

#paper {
  width: 675px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 35px; }
  @media not print {
    #paper {
      margin-top: 25px;
      box-shadow: 0 0 30px #ebebeb;
      border-radius: 3px; } }

#name, section header {
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px; }

#name {
  font-size: 3em;
  margin-top: 20px; }

#name, #contact {
  display: inline-block; }

#contact {
  color: #555555; }
  #contact span:not(:last-child)::after {
    content: " · ";
    margin-left: 2px;
    margin-right: 1px; }
  #contact #email {
    font-size: 1.05em; }

#face {
  float: right;
  margin-right: 10px;
  height: 100px;
  border-radius: 50%;
  background-color: #f5f5f5; }

hr {
  border: none;
  border-top: 1px solid #eeeeee; }
  hr#top-separator {
    margin: 45px 10px; }

a {
  color: #333333; }

section header {
  font-size: 1.5em;
  float: left;
  width: 150px; }
section .content {
  margin-left: 150px; }
section .content hr {
  margin: 25px 5px; }
section#work .entry, section#education .entry {
  margin: 25px 0; }
section#skills li,
section .description,
section .interval {
  color: #555555; }
section .place,
section .interval .length,
section .interval .to.expected::after {
  color: #5f5f5f; }
section .role {
  font-size: 1.3em;
  margin-bottom: 10px; }
section .place {
  text-align: center; }
  section .place::before {
    content: " | ";
    margin-left: 2px;
    margin-right: 2px; }
section#work .place {
  letter-spacing: 1px;
  text-transform: uppercase; }
section#education .place {
  font-variant: small-caps; }
section .interval {
  float: right; }
  section .interval .from::after {
    content: " —"; }
  section .interval .length::before {
    content: " ("; }
  section .interval .length::after {
    content: ")"; }
  section .interval .length {
    display: none;
    font-size: 0.9em; }
section#work .description, section#education .description {
  display: block; }
section#skills, section #hobby {
  display: table; }
section#skills .category, section#hobbies .hobby {
  display: table-cell; }
section#skills .category {
  width: 168px;
  display: inline-block; }
  section#skills .category .name {
    font-size: 1.3em; }
section#skills ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 0; }
section#projects .name {
  font-size: 1.15em; }
section#projects .description::before {
  content: " — "; }
section#projects .wip::after {
  content: " (wip)";
  color: #5f5f5f; }
section#projects .entry {
  margin: 5px 0; }
section#hobbies {
  margin-top: 50px; }
  section#hobbies header {
    padding-top: 7px; }
  section#hobbies .content {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px; }
  section#hobbies .hobby {
    text-align: center; }
    section#hobbies .hobby img {
      height: 20px;
      opacity: 0.35; }

#paper-footer,
footer {
  text-align: center;
  color: #9b9b9b; }

#paper-footer {
  margin-top: 15px;
  font-size: 0.85em; }
  @media not print {
    #paper-footer {
      display: none; } }

footer {
  font-size: 1.1em; }
  @media print {
    footer {
      display: none; } }

/*# sourceMappingURL=style.css.map */
