* {
    margin: 0;
    padding: 0;
}

body {
  background-image: url("../images/pattern.png");
  padding: 50px 0;
}




@mixin center-wrapper($width) {
}

.shadow {
  $shadow-offset: 2px;
  $shadow-spread: 15px;
  $shadow-blur: 10px;

          box-shadow: $shadow-offset $shadow-offset $shadow-spread $shadow-blur #C9C9C9;
  -webkit-box-shadow: $shadow-offset $shadow-offset $shadow-spread $shadow-blur #C9C9C9;
     -moz-box-shadow: $shadow-offset $shadow-offset $shadow-spread $shadow-blur #C9C9C9;
}




$resume-width: 900px;

#resume-wrapper {
  margin: 40px auto;
  width: $resume-width;
}
#resume {
  width: $resume-width;
}

#download {
  text-align: center;
  font-size: 1.35em;
  font-family: Helvetica, sans-serif;
}




$card-width: 550px;

#card-wrapper {
  margin: auto;
  margin-top: 170px;
  width: $card-width;
}
#card {
  width: $card-width;
}

